// include this file at the top of your game.con or eduke.con

// Game Events

// SYNTAX:
//
// onevent <eventid>
// {
//  ... actions
// }
// endevent

// Internal event IDs

/*
enum events {
    EVENT_INIT,
    EVENT_ENTERLEVEL,
    EVENT_RESETWEAPONS,
    EVENT_RESETINVENTORY,
    EVENT_HOLSTER,
    EVENT_LOOKLEFT,
    EVENT_LOOKRIGHT,
    EVENT_SOARUP,
    EVENT_SOARDOWN,
    EVENT_CROUCH,
    EVENT_JUMP,
    EVENT_RETURNTOCENTER,
    EVENT_LOOKUP,
    EVENT_LOOKDOWN,
    EVENT_AIMUP,
    EVENT_FIRE,
    EVENT_CHANGEWEAPON,
    EVENT_GETSHOTRANGE,
    EVENT_GETAUTOAIMANGLE,
    EVENT_GETLOADTILE,
    EVENT_CHEATGETSTEROIDS,
    EVENT_CHEATGETHEAT,
    EVENT_CHEATGETBOOT,
    EVENT_CHEATGETSHIELD,
    EVENT_CHEATGETSCUBA,
    EVENT_CHEATGETHOLODUKE,
    EVENT_CHEATGETJETPACK,
    EVENT_CHEATGETFIRSTAID,
    EVENT_QUICKKICK,
    EVENT_INVENTORY,
    EVENT_USENIGHTVISION,
    EVENT_USESTEROIDS,
    EVENT_INVENTORYLEFT,
    EVENT_INVENTORYRIGHT,
    EVENT_HOLODUKEON,
    EVENT_HOLODUKEOFF,
    EVENT_USEMEDKIT,
    EVENT_USEJETPACK,
    EVENT_TURNAROUND,
    EVENT_DISPLAYWEAPON,
    EVENT_FIREWEAPON,
    EVENT_SELECTWEAPON,
    EVENT_MOVEFORWARD,
    EVENT_MOVEBACKWARD,
    EVENT_TURNLEFT,
    EVENT_TURNRIGHT,
    EVENT_STRAFELEFT,
    EVENT_STRAFERIGHT,
    EVENT_WEAPKEY1,
    EVENT_WEAPKEY2,
    EVENT_WEAPKEY3,
    EVENT_WEAPKEY4,
    EVENT_WEAPKEY5,
    EVENT_WEAPKEY6,
    EVENT_WEAPKEY7,
    EVENT_WEAPKEY8,
    EVENT_WEAPKEY9,
    EVENT_WEAPKEY10,
    EVENT_DRAWWEAPON,
    EVENT_DISPLAYCROSSHAIR,
    EVENT_DISPLAYREST,
    EVENT_RESETPLAYER,
    EVENT_INCURDAMAGE,
    EVENT_AIMDOWN,
    EVENT_GAME,
    EVENT_PREVIOUSWEAPON,
    EVENT_NEXTWEAPON,
    EVENT_SWIMUP,
    EVENT_SWIMDOWN,
    EVENT_GETMENUTILE,
    EVENT_SPAWN,
    EVENT_LOGO,
    EVENT_EGS,
    EVENT_DOFIRE,
    EVENT_PRESSEDFIRE,
    EVENT_USE,
    EVENT_PROCESSINPUT
};
*/

// Internal projectile stuff

/*
enum projectilelabels {
    PROJ_WORKSLIKE,
    PROJ_SPAWNS,
    PROJ_SXREPEAT,
    PROJ_SYREPEAT,
    PROJ_SOUND,
    PROJ_ISOUND,
    PROJ_VEL,
    PROJ_EXTRA,
    PROJ_DECAL,
    PROJ_TRAIL,
    PROJ_TXREPEAT,
    PROJ_TYREPEAT,
    PROJ_TOFFSET,
    PROJ_TNUM,
    PROJ_DROP,
    PROJ_CSTAT,
    PROJ_CLIPDIST,
    PROJ_SHADE,
    PROJ_XREPEAT,
    PROJ_YREPEAT,
    PROJ_PAL,
    PROJ_EXTRA_RAND,
    PROJ_HITRADIUS,
    PROJ_VEL_MULT,
    PROJ_OFFSET,
    PROJ_BOUNCES,
    PROJ_BSOUND,
    PROJ_RANGE
};
*/

// Variable definition Flags

#define GAMEVAR_FLAG_GLOBAL 0 // global variable (default)
#define GAMEVAR_FLAG_PERPLAYER 1 // per-player variable
#define GAMEVAR_FLAG_PERACTOR 2  // per-actor variable

// Weapon Flags
//     1 Holstering Clears Clip
//     2 Glows
//     4 Automatic
//     8 Fire Every other frame
//    16 Fire Every third frame
//    32 Random restart on automatic
//    64 Use Ammo per burst
//   128 Is a Bomb trigger
//   256 Using does NOT cause player to become 'visible'
//   512 Use 'throws' the 'shoots' item
//  1024 Check weapon availability at 'reload' time
//  2048 player should stop jumping
//     0 Spawn Type 1 (pistol shells)
//  4096 Spawn Type 2 (Shotgun shells)
//  8192 Spawn Type 3 (CHAINGUN shells)
// 16384 Semi-automatic
// 32768 Pistol reload sound hack
// 65536 Cycle kickback_pic back to 1 if fire is held down, else set to 0

// TRIPBOMB_CONTROL
// 1 Tripwire.  Trip Bomb works with tripwire.
// 2 On timer.  Trip Bomb works on timer

// PIPEBOMB_CONTROL
// 1 Detonator. Pipe Bomb works with detonator.
// 2 On timer.  Pipe Bomb works on timer

gamevar WEAPON0_WORKSLIKE 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_RELOAD 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_FIREDELAY 7 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_TOTALTIME 14 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_HOLDDELAY 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_FLAGS 292 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_SHOOTS 2521 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_SPAWNTIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_SPAWN 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_INITIALSOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_FIRESOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON0_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON1_WORKSLIKE 1 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_CLIP 12 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_RELOAD 27 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_FIREDELAY 2 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_TOTALTIME 5 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_HOLDDELAY 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_FLAGS 32768 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_SHOOTS 2595 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_SPAWNTIME 2 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_SPAWN 2533 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_INITIALSOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_FIRESOUND 3 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON1_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON2_WORKSLIKE 2 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_RELOAD 13 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_FIREDELAY 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_TOTALTIME 30 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_HOLDDELAY 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_FLAGS 1024 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_SHOOTS 2613 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_SPAWNTIME 24 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_SPAWN 2535 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_SHOTSPERBURST 7 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_INITIALSOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_FIRESOUND 109 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_SOUND2TIME 15 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_SOUND2SOUND 169 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON2_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON3_WORKSLIKE 3 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_RELOAD 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_FIREDELAY 3 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_TOTALTIME 12 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_HOLDDELAY 3 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_FLAGS 73812 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_SHOOTS 2536 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_SPAWNTIME 1 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_SPAWN 2533 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_INITIALSOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_FIRESOUND 6 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON3_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON4_WORKSLIKE 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_RELOAD 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_FIREDELAY 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_TOTALTIME 20 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_HOLDDELAY 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_FLAGS 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_SHOOTS 2605 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_SPAWNTIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_SPAWN 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_INITIALSOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_FIRESOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON4_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON5_WORKSLIKE 5 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_RELOAD 30 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_FIREDELAY 6 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_TOTALTIME 19 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_HOLDDELAY 12 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_FLAGS 512 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_SHOOTS 26 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_SPAWNTIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_SPAWN 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_INITIALSOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_FIRESOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON5_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON6_WORKSLIKE 6 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_RELOAD 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_FIREDELAY 10 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_TOTALTIME 12 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_HOLDDELAY 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_FLAGS 2 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_SHOOTS 2556 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_SPAWNTIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_SPAWN 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_INITIALSOUND 11 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_FIRESOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON6_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON7_WORKSLIKE 7 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_RELOAD 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_FIREDELAY 3 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_TOTALTIME 6 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_HOLDDELAY 5 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_FLAGS 72 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_SHOOTS 2605 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_SPAWNTIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_SPAWN 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_SHOTSPERBURST 2 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_INITIALSOUND 10 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_FIRESOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON7_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON8_WORKSLIKE 8 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_RELOAD 16 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_FIREDELAY 3 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_TOTALTIME 16 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_HOLDDELAY 7 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_FLAGS 3072 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_SHOOTS 2563 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_SPAWNTIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_SPAWN 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_INITIALSOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_FIRESOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON8_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON9_WORKSLIKE 9 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_RELOAD 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_FIREDELAY 3 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_TOTALTIME 5 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_HOLDDELAY 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_FLAGS 65536 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_SHOOTS 1641 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_SPAWNTIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_SPAWN 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_INITIALSOUND 10 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_FIRESOUND 10 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON9_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON10_WORKSLIKE 10 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_RELOAD 10 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_FIREDELAY 2 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_TOTALTIME 10 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_HOLDDELAY 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_FLAGS 384 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_SHOOTS 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_SPAWNTIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_SPAWN 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_INITIALSOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_FIRESOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON10_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar WEAPON11_WORKSLIKE 11 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_CLIP 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_RELOAD 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_FIREDELAY 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_TOTALTIME 5 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_HOLDDELAY 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_FLAGS 2 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_SHOOTS 2448 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_SPAWNTIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_SPAWN 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_SHOTSPERBURST 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_INITIALSOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_FIRESOUND 388 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_SOUND2TIME 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_SOUND2SOUND 0 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_RELOADSOUND1 4 GAMEVAR_FLAG_PERPLAYER
gamevar WEAPON11_RELOADSOUND2 5 GAMEVAR_FLAG_PERPLAYER

gamevar GRENADE_LIFETIME 120 GAMEVAR_FLAG_PERPLAYER
gamevar GRENADE_LIFETIME_VAR 30 GAMEVAR_FLAG_PERPLAYER

gamevar STICKYBOMB_LIFETIME 120 GAMEVAR_FLAG_PERPLAYER
gamevar STICKYBOMB_LIFETIME_VAR 30 GAMEVAR_FLAG_PERPLAYER

gamevar TRIPBOMB_CONTROL 1 GAMEVAR_FLAG_PERPLAYER  // set value to 2 for timed bomb
gamevar PIPEBOMB_CONTROL 1 GAMEVAR_FLAG_PERPLAYER  // set value to 2 for grenade behavior
