
# /polymer/eduke32/
/polymer/eduke32/eduke32
/polymer/eduke32/mapster32
/polymer/eduke32/*.con
/polymer/eduke32/*.sym

# /polymer/eduke32/build/obj.gnu/
/polymer/eduke32/build/obj.gnu/*.a

# /polymer/eduke32/eobj/
/polymer/eduke32/eobj/*.a

# /polymer/eduke32/rsrc/
/polymer/eduke32/rsrc/game_banner.c
/polymer/eduke32/rsrc/editor_banner.c

# /polymer/eduke32/source/jaudiolib/
/polymer/eduke32/source/jaudiolib/obj_win

