
obj/

eduke32
apps/
*.exe
/*.dll
*.dylib
*.so
*.elf
*.dol
*.x86
*.x64
*.ppc
*.app

/movie
/blud*.png
/game*.sav
*.log
*.cache
*.cfg
texturecache
*.index

*.manifest
/*.map
/*.mhk
/platform/Windows/*.map
*.pdb
.vs/
*.VC.db
*.VC.opendb
*.sym
/*.grp
/*.rts
/*.art
/*.ar_
/*.con
/*.SMK
/*.WAV
/platform/Windows/*.con
*.memmap
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.psess
*.vsp
perl.exe.stackdump

xcuserdata/
project.xcworkspace/
*.dSYM/

.DS_Store
._*
/autoload
/movie
/blud*.png
/*.DEM
/game*.sav

build-vs2019/
/source/gitinfo.h
/build2
