<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Mapster32</string>
	<key>CFBundleExecutable</key>
	<string>mapster32</string>
	<key>CFBundleGetInfoString</key>
	<string>2.0, Copyright EDuke32 Team</string>
	<key>CFBundleIconFile</key>
	<string>mapster32.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mapster32</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>MP32</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CGDisableCoalescedUpdates</key>
	<true/>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Voidpoint, LLC</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
