// Mapster32 tile grouping configuration file
// Press T on the tile selection screen to access the tileset selection menu

#include "names.h"

// NOTE: See the end of the tile group declarations [OLD_COLOR_SCHEME] for how
// one can create a color scheme similar to earlier Mapster32 builds
// (non-blocking sprites have an orange tint, blocking ones are purple).

tilegroup "Actors"
{
	hotkey "A"

    colors 31 31

	tiles
	{
		LIZTROOP LIZTROOPRUNNING LIZTROOPSTAYPUT LIZTROOPSHOOT LIZTROOPJETPACK
		LIZTROOPONTOILET LIZTROOPJUSTSIT LIZTROOPDUCKING
		PIGCOP PIGCOPSTAYPUT PIGCOPDIVE
		LIZMAN LIZMANSTAYPUT LIZMANSPITTING LIZMANFEEDING LIZMANJUMP
		COMMANDER COMMANDERSTAYPUT
		OCTABRAIN OCTABRAINSTAYPUT
		ORGANTIC
	DRONE
		NEWBEAST NEWBEASTSTAYPUT NEWBEASTHANG NEWBEASTJUMP
		EGG GREENSLIME ROTATEGUN RECON TANK BOUNCEMINE
		FLOORFLAME
		// FEMS
		FEM1 FEM2 FEM3 FEM4 FEM5 FEM6 FEM7 FEM8 FEM9 FEM10 NAKED1
		// Lil' critters
		SHARK
		// BIG critters
		BOSS1 BOSS1STAYPUT BOSS1SHOOT BOSS1LOB
		BOSS2
		BOSS3
		BOSS4 BOSS4STAYPUT
	}
}

tilegroup "Doors"
{
	hotkey "D"

	tiles
	{
		DOORTILE1 DOORTILE2 DOORTILE3 DOORTILE4 DOORTILE5
		DOORTILE6 DOORTILE7 DOORTILE8 DOORTILE9 DOORTILE10
		312 313 314 345
		DOORTILE22 DOORTILE18 DOORTILE19 DOORTILE20
		450 455 457 458 459 469 470 477
		DOORTILE14
		719 735 771
		DOORTILE16
		843 858 883
		DOORTILE15 DOORTILE21
		1173
		DOORTILE11 DOORTILE12
		353 355
		// Related items
		DOORSHOCK ACCESSCARD
	}
}

tilegroup "Effectors"
{
	hotkey "E"

	colors 15 15

	tilerange 1 10
}

tilegroup "Items"
{
	hotkey "I"

	colors 24 24

	tiles
	{
		// Ammo
		AMMO SHOTGUNAMMO BATTERYAMMO RPGAMMO HEAVYHBOMB FREEZEAMMO GROWAMMO CRYSTALAMMO
		DEVISTATORAMMO HBOMBAMMO

		// Items (healthetc)
		COLA SIXPAK FIRSTAID SHIELD STEROIDS AIRTANK JETPACK HEATSENSOR ACCESSCARD
		BOOTS ATOMICHEALTH HOLODUKE

		// Weapons
		FIRSTGUNSPRITE CHAINGUNSPRITE RPGSPRITE FREEZESPRITE SHRINKERSPRITE
		TRIPBOMBSPRITE SHOTGUNSPRITE DEVISTATORSPRITE
	}
}

tilegroup "Letters and numbers"
{
	hotkey "L"

	tilerange 2822 2915
	tilerange 2929 3022
	tilerange 3072 3135
	tilerange 3162 3165
	tilerange 640 649
	tilerange 2472 2481
}

tilegroup "Player"
{
	hotkey "P"

	// Colors are the colors for Blocking OFF and Blocking ON.
	colors 2 2

	tile APLAYER
}

tilegroup "Respawn triggers"
{
	hotkey "R"

	tiles
	{
		CANWITHSOMETHING CANWITHSOMETHING2 CANWITHSOMETHING3 CANWITHSOMETHING4
		// FEMS
		FEM1 FEM2 FEM3 FEM4 FEM5 FEM6 FEM7 FEM8 FEM9 FEM10 NAKED1
	}
}

tilegroup "Switches"
{
	hotkey "S"

	tiles
	{
		ACCESSSWITCH ACCESSSWITCH2 ACCESSCARD SLOTDOOR  LIGHTSWITCH  SPACEDOORSWITCH  SPACELIGHTSWITCH
		FRANKENSTINESWITCH  MULTISWITCH
		DIPSWITCH  DIPSWITCH2  DIPSWITCH3  TECHSWITCH
		LIGHTSWITCH2  713 // LIGHTSWITCH2+1
		POWERSWITCH1  LOCKSWITCH1  POWERSWITCH2  HANDSWITCH  PULLSWITCH
		ALIENSWITCH  HANDPRINTSWITCH  NUKEBUTTON
		TARGET
		4083  4954 // Busted switches (Atomic)
	}
}

tilegroup "Exploding stuff"
{
	hotkey "X"

	tiles
	{
		CRACK1 CRACK2 CRACK3 CRACK4
		FIREEXT SEENINE OOZFILTER
		EXPLODINGBARREL EXPLODINGBARREL2 FIREBARREL GUNPOWDERBARREL
		REACTOR2SPARK BOLT1 SIDEBOLT1
		CEILINGSTEAM
		FIREVASE 2066 BURNING FIRE BURNING2 FIRE2
	}
}

/*
// Uncomment this group to get the [OLD_COLOR_SCHEME].
tilegroup "All"
{
    tilerange 0 30704  // MAXUSERTILES

    // NOTE: no hotkey, this group will not show up in the 'T' menu.

    // NOTE: colors specified here (as well as in the first argument to the DEF
    // commands '2dcol' and '2dcolidxrange') refer to Mapster32's editorcolor[]
    // index. They can be viewed with "do set showpal 1" assuming that a.m32
    // has been loaded.
    //
    // The actual color indices will be offset in the range [0 .. 4] when the
    // mouse hovers near them.
    //
    // For example, under the Duke3D palette, one can create a color scheme
    // similar to earlier Mapster32 builds (non-blocking sprites have an orange
    // tint, blocking ones are purple) by first putting in your m32_autoexec.cfg
    // file the lines
    //
    //  // do gamevar i 0 1  // only if a.m32 is not loaded
    //  script_expertmode 1
    //  do for i range 256 ifge i 33 { set editorcolors[i] i }
    //  script_expertmode 0
    //
    // which maps editorcolor[] indices 33 through 255 to the same actual color
    // indices, and then setting here one of the alternatives:
    colors 139 231  // reddish orange / purple
//    colors 208 64  // brighter orange / sky blue
    // This sets tile colors for all sprites excluding those which have been
    // assigned a color by the above tile group declarations.
}
*/

// Alphabet configuration for text entry tool in 3D mode
// (press Ctrl-T on a wall-aligned letter)
// 32 alphabets max.

alphabet  // blue font
{
	maprange 33 126 STARTALPHANUM

	offseta "^" 0 2
	offseta "qQ;" 0 -1
}

alphabet
{
	maprange 33 126 MINIFONT
	maprangea "a" "z" 3104

//	offset "\\" 0 3 doesn't work
	offset 92 0 3
	offseta "qQ" 0 -1
	offseta ":" 0 1
	offseta "'\"" 0 3
}

alphabet  // red font
{
	maprangea "0" "9" 2930
	maprangea "A" "Z" BIGALPHANUM
	maprangea "a" "z" BIGALPHANUM
	mapa "-" 2929
	mapa ".,!?;:/%" 3002
	mapa "'" 3022
}

alphabet  // silver font
{
	maprangea "0" "9" 2992
	maprangea "A" "Z" 2966
	maprangea "a" "z" 2966
}

alphabet  // yellow numbers 3x5
{
	maprangea "0" "9" THREEBYFIVE
	mapa ":/" 3020
	offseta ":" 0 1
}

alphabet  // silver numbers
{
	maprangea "1" "9" W_NUMBERS
	mapa "0" 649
}

alphabet
{
	maprangea "0" "9" DIGITALNUM
}
